* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 96vh;
    width: 98vw;
    margin: 1rem auto;
}

h1 {
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

button {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    padding: 0.6rem 0.8rem;
    border: 1px solid #191A23;
    box-shadow: 0.25rem 0.25rem 0 0 #191A23;
    margin: 0.4rem 1rem;
}

button:hover {
    background-color: lightgray;
}

.left div:nth-child(1) {
    display: inline-flex;
    width: 100%;
}

input[type="color"] {
    position: relative;
    box-shadow: 0.25rem 0.25rem 0 0 #191A23;
    background-color: white;
    border: 1px solid black;
    padding: 0.2rem 0.2rem;
    width: 96%;
}

.etch-a-sketch {
    display: flex;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    border-right: 1px solid black;
}

.left span {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.left div {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.right span {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.canvas {
    display: flex;
    width: 40vw;
    height: 40vw;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}